<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">Parking Lot Application</a>

    <!-- <ul class="nav navbar-nav navbar-right" *ngIf="!loggedUser.role">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/">Login</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/createUser">Register</a>
            </li>
    </ul>

    <ul class="navbar-nav navbar-nav-right" *ngIf="loggedUser.role">
        <li class="nav-item">
          <a class="nav-link active"><b>Welcome : {{loggedUser.UserId}}</b> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="Logout()">Logout</a>
        </li>
   </ul> -->
</nav>
